---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro"
import New from "../components/New.astro"
import Articles from "../components/Articles.astro"
---

<Layout>
	<div class="flex flex-col lg:flex-row lg:gap-6">
		<Hero styles="flex-2"/>
		<New styles="flex-1"/>
	</div>
	<Articles/>
</Layout>