---
import Layout from "../layouts/Layout.astro"
import { News } from "../common/article";
import NewArticle from "../components/NewArticle.astro";
---
<Layout pageTitle ="News">
    <section class="space-y-8 ">
        <h1 class="text-3xl italic">News</h1>
        <div class="flex flex-col gap-6  ">
            {
                News.map(article => <NewArticle {...article}/>)
            }
            
        </div>
    </section>
</Layout>

