---
import Layout from "../layouts/Layout.astro"
import PopularNews from "../components/PopularNews.astro"
import { Newspopular } from "../common/popularArticles"
---
<Layout pageTitle="Popular Articles">
    <section class="flex flex-col">
        {
            Newspopular.map(popular =><PopularNews {...popular}/>)
        }

    </section>
</Layout>

