---
type NavItem = {
    name: string
    href: string
}

const navItems: NavItem[] = [
    { name: "Home", href: "/" },
    { name: "New", href: "/new" },
    { name: "Popular", href: "/popular" },
    { name: "Trending", href: "/trending" },
    { name: "Categories", href: "/categories" },
]

type Props = {
    isHorizontal?: boolean
}

const { isHorizontal = false } = Astro.props
---
 
<ul class={`gap-6 ${isHorizontal ? "flex-row mt-0 hidden lg:flex" : "flex-col mt-[88px] w-64"}`}>
    {navItems.map((item: NavItem) => (
        <li class="list-none">
            <a
                href={item.href}
                class="nav-item text-lg cursor-pointer hover:text-Soft-orange transition-colors duration-200"
                data-astro-prefetch
            >
                {item.name}
            </a>
        </li>
    ))}
</ul>