---
import Logo from "../assets/images/logo.svg"
import Menu from "../assets/images/icon-menu.svg"
import Close from "../assets/images/icon-menu-close.svg"
import NavbarItems from "./NavbarItems.astro"



---

<nav class="mb-6 flex justify-between items-center ">
    
    <Logo/>
    <NavbarItems isHorizontal={true}/>
    <Menu id="menu-btn" class="cursor-pointer lg:hidden"/>

    <div id="menu-modal" class="bg-black/50 fixed inset-0 hidden">
        <div class="bg-Off-white absolute right-0 h-screen flex flex-col items-end px-[21px] py-[27px]" >
            
            <Close id="close-btn" class="cursor-pointer"/>
            
        </div>
    </div>
</nav>
<script>
    const menuBtn = document.getElementById("menu-btn");
    const closeBtn = document.getElementById("close-btn");
    const menuModal = document.getElementById("menu-modal")
    const itemsNav = document.querySelectorAll("#itemsNav");

     menuBtn?.addEventListener("click", () => {
        menuModal?.classList.remove("hidden");
    });
    closeBtn?.addEventListener("click", () => {
        menuModal?.classList.add("hidden");
    });
    itemsNav.forEach((item) => {
        item.addEventListener("click", () => {
            menuModal?.classList.add("hidden");
        });
    });

</script>