---
import Title from '../pages/new/[slug].astro';
import {News} from "../common/article.ts"
import NewArticle from './NewArticle.astro';

type Props = {
    styles?:string
}

const {styles} = Astro.props
---
<section class={`bg-Very-dark-blue p-4 mb-16 ${styles} text-Off-white `}>
    <h1 class="font-extrabold text-[2rem] mb-4 text-Soft-orange">New</h1>
    {
        News.slice(0,3).map((News) => (
            <NewArticle {...News}/>
        ))
    }
</section>

